.filterInput {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  cursor: pointer;
  @include medium-only{
    width:auto;
  }
  &#ingredients {
    background-color: $color-ing;
    &:hover{
      background-color: darken($color-ing, 10%);
    }
  }
  &#appareil {
    background-color: $color-app;
    &:hover{
      background-color: darken($color-app, 10%);
    }
  }
  &#ustensiles {
    background-color: $color-ust;
    &:hover{
      background-color: darken($color-ust, 10%);
    }
  }
  &#ingredients .inputColor {
    background-color: $color-ing;
    &:hover{
      background-color: darken($color-ing, 10%);
    }
  }
  &#appareil .inputColor {
    background-color: $color-app;
    &:hover{
      background-color: darken($color-app, 10%);
    }
  }
  &#ustensiles .inputColor {
    background-color: $color-ust;
    &:hover{
      background-color: darken($color-ust, 10%);
    }
  }
  & .inputTrigger{
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
  & .inputColor {
    border-radius: 5px 0 0 5px;
    border: none;
    height: 4rem;
    color: white;
    //padding-left: 1rem;
    width: 80%;
    font-size: 1.2rem;
    &::placeholder {
      color: white;
      font-size: 1.2rem;
      padding: 1rem;
    }
  }
  & .arrowCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    
  & .arrowUp {
    color: white;
    display: none;
  }
  & .arrowDown {
    color: white;
    //padding-right: .5rem;
    //padding-left: 1rem;
    cursor: pointer;
  }
}
  & ul{
    display: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 0 0 5px 5px;
    top: 4rem;
    padding: .5rem;
    z-index: 5;
    &#ingList{
      background-color: $color-ing;
      & li:hover{
        background-color: darken($color-ing, 10%);
      }
    }
    &#appList{
      background-color: $color-app;
      & li:hover{
        background-color: darken($color-app, 10%);
      }
    }
    &#ustList{
      background-color: $color-ust;
      & li:hover{
        background-color: darken($color-ust, 10%);
      }
    }
  & li {
    color: white;
    list-style: none;
    width: 28%;
    padding: .3rem;
  }
}
}

