#pageMain {
  & #logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    & #logo {
      width: 25vw;
    }
  }
  & #warning{
      width: 90vw;
      display: flex;
      background-color: lightsteelblue;
      color: darkslategray;
      justify-content: space-between;
      align-items: center;
      margin: 2rem auto 1rem auto;
      padding: 1rem;
      height: 2.5rem;
      border-radius: 5px;
  }
  & #searchBarContainer {
    width: 90vw;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    & #site-search {
      flex-grow: 2;
      border: none;
      background-color: lightgray;
      border-radius: 5px 0 0 5px;
      font-size: 1.2rem;
    }
    & .searchButton {
      background-color: lightgray;
      border: none;
      width: 3rem;
      border-radius: 0 5px 5px 0;
      & .fa {
        font-size: 1.5rem;
      }
    }
  }
  & #activeFiltersContainer{
      display:flex;
      gap: 1rem;
      width: 90vw;
      margin: 1rem auto;
      & .activeFilter{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: .5rem 1rem;
          border-radius: 5px;
          color: white;
          &.ing{
            background-color: $color-ing;  
          }
          &.app{
            background-color: $color-app;  
          }
          &.ust{
            background-color: $color-ust;  
          }
          & .activeFilterText{
              padding-right: 1rem;
          }
      }
  }
  & #searchFiltersContainer{
    width: 90vw;
    margin: 2vw auto 2vw auto;
  & #searchFilters{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
  }
}
  & #cardsContainer{
      width: 90%;
      margin: auto;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
